*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f7fb;
    color: #222;
}
 .app {
    min-height: 100vh;

 }

 .main-layout {
    display: flex;
    min-height: calc(100vh - 70px);

 }

 .page-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
 }